
python-telegram-bot==13.7
python-dotenv==0.19.2
cryptg==0.2.post4
gunicorn==20.1.0
flask
googletrans
langdetect
telegram
telethon
flask-login
flask-wtf
flask-session
flask-sqlalchemy
flask-session
flask-sqlalchemy
flask-session
flask-sqlalchemy
flask-login
flask-wtf
routes
python-dotenv
sqlalchemy
werkzeug
